.martel{
    font-family: 'Martel', serif;
}

.monst{
    font-family: 'Montserrat', sans-serif;
}

.opensans{
    font-family: 'Open Sans', sans-serif;
}


$boz: #737373;

$qizili: #D0A144;
$karicni: #784F33;

.mb-0{
    margin-bottom: 0;
}

.mt-0{
    margin-top: 0;
}

.mw-200{
    max-width: 200px;
}
.mw-478{
max-width: 60%;
}

.h77{
    height: 77px;
}
.relative{
    position: relative;
}

.bg-tundgoy{
    background-color: #252B42;;
}











































.m_0 {
    margin: 0;
    padding: 0;
  }
  .d-flex {
    display: flex;
  }
  .text-start{
      text-align: start;
  }
  .justify-content-between {
    justify-content: space-between;
  }
  .justify-content-end {
    justify-content: flex-end;
  }
  
  .justify-content-around {
    justify-content: space-around;
  }
  .align-items-center {
    align-items: center;
  }
  .justify-content-center {
    justify-content: center;
  }
  .align-items-start {
    align-items: flex-start;
  }

  .align-items-end {
    align-items: flex-end;
  }
  .align-self-center {
    align-self: center;
  }
  .align-self-start {
    align-self: flex-start;
  }
  

  .flex-column {
    flex-direction: column;
  }
  
  .aligncenter {
    text-align: center;
  }
  .container67 {
    width: 67%;
    margin-right: auto;
    margin-left: auto;
    // overflow: hidden;
    max-width: 1300px;
  }
  

  .text-white {
    color: white;
  }
  .text-dark{
      color:black;
  }
  

  
  .w40 {
    width: 40%;
  }

  .w50 {
    width: 50%;
  }
  
  .w100 {
    width: 100%;
  }
  .w80 {
    width: 80%;
  }
  .fw-400{
      font-weight: 400;
  }
  .fw-500{
    font-weight: 500;
}

.fw-600{
    font-weight: 600;
}

.fw-700{
    font-weight: 700;
}

.fw-900{
    font-weight: 900;
}

.decor-none{
    text-decoration: none;
}

.fs-14{
    font-size: 14px;
}

.fs-18{
    font-size: 18px;
}

.fs-20{
    font-size: 20px;
}
.fs-24{
    font-size: 24px;
}

.fs-48{
    font-size: 48px;
}
.fs-58{
    font-size: 58px;
}

.fs-40{
    font-size: 40px;
}

.boz{
    color:$boz;
}
.qizili{
    color:$qizili;
}
.karicni{
    color: $karicni;
}

.mw376{
    max-width: 376px;

}
.mb-2{
    margin-bottom: 4px;
}
.mx-10{
    margin-right: 10px;
    margin-left: 10px;
}


@mixin butto ($bg:$karicni, $color:white){
    padding: 20px 35px;
    background-color: $bg;
    color: $color;
    border-radius: 30px;
    font-weight: 400;
    text-decoration: none;
    min-width: max-content;

}

.butto{
    @include butto()
}


.butto-wh{
    @include butto($bg:white, $color:$karicni);
    border:1px $karicni solid;
}
.butto-qz{
    @include butto($bg:white, $color:$qizili);
    border:1px $qizili solid;
    border-radius: 2px;
    font-weight: bold;
    padding: 12px 20px;
}

.butto-kr{
    @include butto();
    border-radius: 2px;
    width: max-content;
    height: max-content;
}
.ml-10{
    margin-left: 10px;
}
.mr-25{
    margin-right: 25px;
}
.mr-7{
    margin-right: 7px;
}
.mb-70{
    margin-bottom: 70px;
}

.h50{
    height: 50px;
}

.mw-320{
    max-width: 320px;
}
.h150{
    height: 150px;
}